
<div class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header style="float: left">
      <h1>About</h1>
    </header>

    <div class="row whole">
      <main class="col-md-5">

        <p class="lead"> The Writer's Sauce is a beta implementation of the vfvt.org API. The current version (v0.3) is a minimum viable product to test
          the utility of a scaffolding tool for fiction authors. The current tool supports: </p>

        <!--            <p class="lead">-->
        <!--                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>-->
        <!--            </p>-->
      </main>
      <div class="col-md-2"></div>
      <main class="col-md-5">


        <p class="lead">Simple email/password authentication </p>
        <p class="lead" >One-to-one author-user account</p>
        <p class="lead">Free use for beta accounts</p>

      </main>
    </div>
    <br/>
    <header>
      <h1>Legal</h1>
    </header>

    <div class="row fresh">
      <div class="col-md-10">

        <ul class="lead">


          <li>This is a beta product and your data is not guaranteed safe. </li>
          <li>Your email will be used for two purposes: <ol>
            <li>authentication</li>
            <li>account notifications</li>
          </ol>
          </li>
          <li>Your data, what you enter into this site, is the property of the email account holder.
            If multiple users can access the same account, they are considered the same owner.</li></ul>

        <!--            <p class="lead">-->
        <!--                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>-->
        <!--            </p>-->
      </div>


      <!--        <footer class="mt-auto">-->
      <!--            <p>All Rights Reserved</p>-->
      <!--            -->
      <!--        </footer>-->
    </div>
  </div>

