<nav class="navbar navbar-expand-lg">
  <div class="container">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li>

        <a class="link link-success mx-2" (click)="create()">New Plot</a>
      </li>

      <li>
        <a class="link link-primary mx-2" (click)="save()">Save</a>
      </li>


      <li>
      </li>
    </ul>

    <div class="d-flex">


    </div>
  </div>
</nav>



  <div class="col-md-10 ">
    <div *ngFor="let plot of plots">
<!--      <table class="table table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          <th>Parent Plot</th>-->
<!--          <th>Delete</th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
                <plot-list-view
            [plot]="plot"
            [plots]="plots"
            (deleteMe)="delete($event)"></plot-list-view>
<!--        </tr>-->
<!--        </tbody>-->

<!--      </table>-->

    </div>
  </div>

