<form ngForm>
    <a type="link" class="link-primary" (click)="save()">Add to Story</a>


         <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-plot">Plot:</span>
            </div>
            <input class="form-control col-md-8" type="text" name="plot" id="es-plot" [(ngModel)]="scene.plot.name"/>
        </div>

        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-plotpoints">Plot Points:</span>
            </div>
            <textarea class="form-control col-md-8" type="text" name="plotpoints" id="es-plotpoints"
                      [(ngModel)]="scene.plotpoints"></textarea>
        </div>


        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-dgt">Date-Time:</span>
            </div>
            <input class="form-control col-md-8" type="text" name="dtg" id="es-dtg" [(ngModel)]="scene.dtg"/>
        </div>


         <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-location">Location:</span>
            </div>
            <input class="form-control col-md-8" type="text" name="location" id="es-location" [(ngModel)]="scene.location.name"/>
        </div>

        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-title">Name:</span>
            </div>
            <input class="form-control col-md-8" type="text" name="name" id="es-name" [(ngModel)]="scene.name"/>
        </div>

        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-setting">Setting:</span>
            </div>
            <textarea class="form-control col-md-8" type="text" name="setting" id="es-setting" [(ngModel)]="scene.setting"></textarea>
        </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="new-description">Description:</span>
                </div>
                <textarea class="form-control" name="description" id="es-description" [(ngModel)]="scene.description"></textarea>
            </div>

        <div class="row">
            <div class="col-md-3">


         <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-people">people:</span>
            </div>
<!--            <input class="form-control col-md-8" type="text" name="people" id="es-people" [(ngModel)]="scene.people"/>-->
             <table class="table table-sm">
                 <thead>
                 <tr>
                     <th>Name</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let person of scene.people">
                     <td>{{person.name}}</td>
                 </tr>
                 </tbody>
             </table>
        </div>
            </div>
            <div class="col-md-3">


        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-events">events:</span>
            </div>
<!--            <input class="form-control col-md-8" type="text" name="events" id="es-events" [(ngModel)]="scene.events"/>-->
             <table class="table table-sm">
                 <thead>
                 <tr>
                     <th>Name</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let event of scene.events">
                     <td>{{event.name}}</td>
                 </tr>
                 </tbody>
             </table>
        </div>
            </div>
            <div class="col-md-3">


         <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="new-things">things:</span>
            </div>
<!--            <input class="form-control col-md-8" type="text" name="things" id="es-things" [(ngModel)]="scene.things"/>-->
             <table class="table table-sm">
                 <thead>
                 <tr>
                     <th>Name</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let thing of scene.things">
                     <td>{{thing.name}}</td>
                 </tr>
                 </tbody>
             </table>
            </div>
        </div>




    </div>
</form>


