<div class="container">
    <div class="justify-content-end">
        <button type="button" (click)="create()" class="m-2 tn btn-sm btn-outline-primary ">New Plot</button>
    </div>
    <div class="custom" >

        <div class="row">
            <div class="col-4">


                <ul  *ngIf="plots">
                    <li *ngFor="let dao of plots">
                         <!-- <li *ngFor="let dao of daoList$ |async">-->

                        <app-dao-plot [dao]="dao" (selectedPlot)="setActivePlot($event)" ></app-dao-plot>
                    </li>
                </ul>
            </div>
            <div class="col" *ngIf="currentPlot">
                <!--      no need for parent-child access need service observable-->
                <app-dao-form
                              [dao]="currentPlot"
                              (deletePlot)="delete($event)"
                              (savePlot)="save($event)"
                              (createSubplot)="addSubplot($event)"
                ></app-dao-form>
            </div>
        </div>
    </div>
</div>
