
<!--<div *ngIf="plot$ | async as plot">-->
<!--<form ngForm>-->

<!--    <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text" id="new-name">Name:</span>-->
<!--        </div>-->
<!--        <input class="form-control col-md-8" type="text" name="name" id="es-name" [(ngModel)]="plot.name"/>-->
<!--    </div>-->

<!--    <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text" id="new-type">Type:</span>-->
<!--        </div>-->
<!--        <input class="form-control" type="text" name="type" id="es-type"  [(ngModel)]="plot.type"/>-->
<!--    </div>-->

<!--    <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text" id="new-parent">Parent Plot:</span>-->
<!--        </div>-->
<!--        <select #parent class="form-control" name="parentId" id="parentId" *ngFor="let p of plots" [(ngModel)]="plot.parentId">-->
<!--            <option [value]="p.id">{{p.name}}</option>-->
<!--        </select>-->
<!--    </div>-->



<!--    <div class="row">-->
<!--        <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text" id="new-description">Description:</span>-->
<!--            </div>-->
<!--            <textarea class="form-control" name="description" id="es-description" [(ngModel)]="plot.description"></textarea>-->
<!--        </div>-->
<!--    </div>-->

<!--    <button type="button" class="btn btn-success m-2" (click)="savePlot(plot)">Save</button>-->
<!--    <button type="button" class="btn btn-danger m-2" (click)="deletePlot(plot)">Delete</button>-->

<!--</form>-->
<!--</div>-->
