<div class="container" *ngIf="dao">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label>{{dao.id}}</label>
    <div class="form-group">
      <label for="stuff">Name</label>
      <input id="stuff" class="form-control" type="text"  name="name" [(ngModel)]="dao.name" />
    </div>
   <div class="form-group">
      <label for="type">Type</label>
      <input id="type" class="form-control" type="text"  name="type" [(ngModel)]="dao.type"/>
    </div>
   <div class="form-group">
      <label for="description">Description</label>
     <textarea id="description" class="form-control" type="text"  name="description" row="2" [(ngModel)]="dao.description"></textarea>
    </div>
   <div class="form-group">


     <button class="btn btn-success" type="submit" >Save</button>
      <button type="button" class="btn btn-primary m-2" (click)="addSubplot()">New Child</button>
     <button *ngIf="dao.id" type="button" class="btn btn-danger m-2" (click)="delete()">Delete</button>
      <button *ngIf="!dao.topPlot" type="button" class="link-success m-2" (click)="promote()">Top Plot</button>

    </div>
  </form>


</div>
